@model User

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: #f8f9fa;">
    <form method="post" action="@Url.Action("VerifyUnlockToken", "Unlock")" style="border: 1px solid #ccc; padding: 30px; display: flex; flex-direction: column; align-items: center; width: 80%; max-width: 500px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

        <h2 style="text-align: center; color: #007bff; margin-bottom: 20px;">Unlock Account Token</h2>

        <div class="form-group mb-3" style="width: 100%;">
            <label for="UnlockAccountToken" class="form-label">Token :</label>
            <input asp-for="UnlockAccountToken" class="form-control" id="UnlockAccountToken" placeholder="Enter your token" style="height: 50px; font-size: 18px; color: #495057; border: 1px solid #ced4da; border-radius: 4px; padding: 0 12px; margin-bottom: 10px; width: 100%;" />
            <span asp-validation-for="UnlockAccountToken" class="text-danger" style="font-size: 16px;"></span>
        </div>

        <div class="form-group mb-3" style="width: 100%;">
            <div class="col-12">
                <input type="hidden" asp-for="ChangePassword" />
                <label for="ChangePasswordCheckbox">Change Password:</label>
                <input type="checkbox" id="ChangePasswordCheckbox" name="ChangePasswordCheckbox" onchange="updateChangePassword()" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" style="height: 50px; font-size: 18px; border: none; border-radius: 4px; cursor: pointer; width: 100%;">Submit</button>
    </form>
</div>


<script>
    function updateChangePassword() {
        var checkbox = document.getElementById("ChangePasswordCheckbox");
        var hiddenField = document.getElementById("ChangePassword");

        // Set the hidden field value based on the checkbox state
        hiddenField.value = checkbox.checked.toString();
    }
</script>

