<div class="container bg-light p-3 align-content-center">

	<h1>You Have SuccessFully Loggedd In!!!!!</h1>

</div>

<div class="container bg-light p-3">
	<div class="col-6 text-start">

		<a asp-controller="Login" asp-action="Login" method="post" class="btn btn-dark">

			Logout

		</a>

	</div>
</div>
